# Byte-compiled / optimized / DLL files
__pycache__/

# Pycharm
.idea/

# VS Code
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Hydra logs
outputs/

# Log files
log/